<% flash.each do |key, value| %>
<div class="message">
   <div class="ui <%= key %> message">
    <a class="close" href="#">&times</a>
    <center><strong><%= value %></strong></center>
  </div>
</div>
<% end %>
