<%= simple_form_for @message do |f| %>
  <div class="ui form">
    <div class="field">
    <%= f.input :title, label: "Message Title" %>
    </div>
    <div class="field">
    <%= f.input :description %>
    </div>
    <%= f.button :submit, class: "ui green button" %>
  </div>
<% end %>
