
<div class="ui grid">
<% if user_signed_in? %>
  <% @messages.each do |message| %>
  <div class="four wide column">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= message.title %>
      </div>
    </div>
    <div class="content">
      <%= message.description %>
    </div>
    <div class="content extra">
      <%= link_to "View Message", message_path(message), class: "ui green button" %>
    </div>
  </div>

</div>
  <% end %>
</div>

  <% else %>

  <h1>Sign up!</h1>


<% end %>
