
  <% @messages.each do |message| %>
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= message.title %>
      </div>
    </div>
    <div class="content">
      <%= message.description %>
    </div>
    <div class="content extra">
      <%= link_to "View Message", message_path(message), class: "ui green button" %>
    </div>
  </div>
  <% end %>
